APScheduler==3.10.4
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
click==8.1.7
dacite==1.8.1
dateparser==1.2.0
Flask==3.0.3
Flask-Cors==4.0.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
playwright==1.44.0
pyee==11.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzlocal==5.2
Werkzeug==3.0.3
